@font-face {
  font-family: "MyFont";
  src: url('fonts/MainFont.otf');
}

html, body, header {
  font-family: 'MyFont', serif;
}

html {
	width: 100%;
	height: 100%;
}

body {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

#watch{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.28);
	margin-top: -1%;
	padding-right: 2%;
	text-align: right;
	line-height: 50px;
}

#header {
  -webkit-box-sizing: border-box;  /*webkitån*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;  /*í èÌ*/
	background: #ccc;
	height: 50px;
	font-size: 24px;
	padding-left: 2em;
	line-height: 50px;
}

#main {
	word-break: break-all;
  -webkit-box-sizing: border-box;  /*webkitån*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;  /*í èÌ*/
  top: 50px;
  margin-left: 25%;
	height: calc(100% - 50px);
  width: 75%;
  position: fixed;
}

#sub {
	word-break: break-all;
  -webkit-box-sizing: border-box;  /*webkitån*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;  /*í èÌ*/
	top: 50px;
	width: 25%;
	height: calc(100% - 50px);
	position: fixed;
	overflow: auto;
	background: #eee;
	padding: 2%;
}

iframe {
	word-break: break-all;
  -webkit-box-sizing: border-box;  /*webkitån*/
  -moz-box-sizing: border-box;  /*Firefox*/
  box-sizing: border-box;  /*í èÌ*/
  border:none;
  width:100%;
  height: 100%;
}

h1 {
	padding-left: 2%;
}